@-ms-viewport{width:device-width}

/* ==== */
/* fouc */
/* ==== */

#loader{background:#fff;position:fixed;width:100%;height:100%;z-index:999}
#loader.loaded{-webkit-animation:fouc .5s .5s;animation:fouc .5s .5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
#byebye{-webkit-animation:fouc .5s;animation:fouc .5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
@-webkit-keyframes fouc{from{opacity:1}to{opacity:0}}
@keyframes fouc{from{opacity:1}to{opacity:0}}

/* ====== */
/* resets */
/* ====== */

body,fieldset,figure,form{margin:0}
fieldset,img,legend{border:0}
pre,textarea{overflow:auto}
fieldset,legend,td,th{padding:0}
code,kbd,mark,samp,textarea{padding:.2em .5em;border-radius:4px}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background:0 0}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted;cursor:help}
mark{background:#ff0!important;color:#000}
small{font-size:75%}
sub,sup{font-size:65%;line-height:0;position:relative;vertical-align:baseline;font-weight:400}
sup{top:-.5em}
sub{bottom:-.25em}
img{height:auto;max-width:100%}
svg:not(:root){overflow:hidden}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
*,*:after,*:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
textarea{resize:vertical;min-height:120px;width:100%}
optgroup{font-weight:400}
table{border-collapse:collapse;border-spacing:0}
ins,u{border-bottom:1px solid #4d4d4d;text-decoration:none}
del,s,strike{text-decoration:line-through}
code,kbd,mark,samp{background:#F1F1F1;font-size:85%}
.hidden,.invisible{visibility:hidden}
b,strong{font-weight:600}
address,blockquote,cite,dfn,em,i,var{font-family:'Libre Baskerville',serif;font-weight:400;font-style:italic}
q:after,q:before{font-size:1.15em}
q:before{content:'\201c'}
q:after{content:'\201d'}
dd{margin:0 0 0 2.5em}
menu,ol,ul{padding:0 0 0 1.5em}
ol ol{list-style-type:lower-alpha}
ol ol ol{list-style-type:lower-roman}
::-moz-selection,::selection{background:#37F;color:#fff;text-shadow:none}
th::-moz-selection,th::selection{background:0 0;color:inherit}
p{-ms-word-break:break-all;-ms-word-wrap:break-all;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;-webkit-hyphenate-before:2;-webkit-hyphenate-after:3;hyphenate-lines:3}

/* ============== */
/* helper classes */
/* ============== */

.clearfix:after,.clearfix:before{display:table;content:" "}
.clearfix:after{clear:both}
dl.inline dd{margin-left:0}
dl.inline dd,dl.inline dt{display:inline-block}
dl.inline dt:after{content:";"}
dl.inline dd:after{content:"."}
.center-text{text-align:center}
.justify-text{text-align:justify}
.center-image{display:block;margin:0 auto}
.fw-300{font-weight:300!important}
.fw-400{font-weight:400!important}
.font-16 p,p.font-16{font-size:16px;line-height:24px}
img.valign{margin-bottom:.4em;margin-top:.4em}
.hidden{display:none!important}
.fullscreen,.fullwidth{width:100%}
.fullheight,.fullscreen,.middlize,.vmid{overflow:hidden;position:relative;display:block}
.middlize,.vmid{margin-top:0;margin-bottom:0}
.middlize{margin:0 auto}
.icovr-cont {
  overflow:hidden;
  position:absolute;
  width:100%;
  height:100%;
  z-index:-1;
}
.icovr {
  position:relative;
  max-width:none;
}

/* =============== */
/* base typography */
/* =============== */

body{font-size:16px;line-height:1.4;color:#4d4d4d;font-family:'Open Sans',Helvetica,Arial;font-weight:400}
address,blockquote,.button,dl,figure,h1,h2,h3,h4,h5,h6,menu,ol,p,pre,table,table caption,ul{margin:0 0 1em;font-weight:inherit}
a,a:visited{text-decoration:none;color:#37F}
a:link,a:visited:link{-webkit-tap-highlight-color:rgba(0,0,0,.3)}
.h1 a,.h1 a:visited,.h2 a,.h2 a:visited,.h3 a,.h3 a:visited,a.h1,a.h1:visited,a.h2,a.h2:visited,a.h3,a.h3:visited,h1 a,h1 a:visited,h2 a,h2 a:visited,h3 a,h3 a:visited{color:inherit}
p a,p a:visited{outline:0;border-bottom:1px solid transparent}
.h4 a:hover,.h4 a:visited:hover,a.h4:hover,a.h4:visited:hover,h4 a:hover,h4 a:visited:hover,p a:hover,p a:visited:hover{border-bottom:1px solid #37f}
.h1,.h2,.h3,.h4,h1,h2,h3,h4{text-rendering:optimizelegibility;font-weight:600;line-height:inherit;}
.h5,.h6,h5,h6{font-weight:400}
.h1,h1{font-size:2.643em;margin:0 0 .5em}
.h2,h2{font-size:2.073em;margin:0 0 .6em}
.h3,h3{font-size:1.626em;margin:0 0 .7em}
.h4,h4{font-size:1.275em;margin:0 0 .8em}
.h5,h5{font-size:.784em;text-transform:uppercase;letter-spacing:1.5px}
.h6,h6{font-size:.615em}
blockquote{font-size:1.1em;margin-left:0}
blockquote:before{float:left;content:'\e81b';font-family:'iconfont';font-style:normal;font-size:3.5em;line-height:1em;margin:-0.05em 0.15em -0.3em 0;opacity:.35;padding:1px}
blockquote .source{font-family:'Open Sans',helvetica,sans;font-style:normal}
blockquote .source:before{content:'--\00a0\00a0';opacity:.35;}
span.initial{float:left;font-size:3.2em;margin:-0.05em 0.15em -0.3em 0;line-height:1em;text-transform:uppercase}


/* ======== */
/* iconfont */
/* ======== */

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype'),
       url('../fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

span[title="Verified Account"]:before,
[class*="icon-"]:before,
nav .more:before{
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  -webkit-transition: .3s all;
  transition: .3s all;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
   font-size: 120%; 
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-pinterest:before { content: '\e801'; } /* '' */
.icon-world:before { content: '\e802'; } /* '' */
.icon-twitter-verified:before { content: '\e803'; } /* '' */
.icon-calender:before { content: '\e804'; } /* '' */
.icon-trash:before { content: '\e805'; } /* '' */
.icon-vimeo:before { content: '\e806'; } /* '' */
.icon-upload:before { content: '\e807'; } /* '' */
.icon-download:before { content: '\e808'; } /* '' */
.icon-forward:before { content: '\e809'; } /* '' */
.icon-pencil-alt:before { content: '\e80a'; } /* '' */
.icon-bookmark:before { content: '\e80b'; } /* '' */
.icon-star-empty:before { content: '\e80c'; } /* '' */
.icon-sort:before { content: '\e80d'; } /* '' */
.icon-sort-down:before { content: '\e80e'; } /* '' */
.icon-sort-up:before { content: '\e80f'; } /* '' */
.icon-down-open:before { content: '\e810'; } /* '' */
.icon-minus:before { content: '\e811'; } /* '' */
.icon-basket:before { content: '\e812'; } /* '' */
.icon-building-filled:before { content: '\e813'; } /* '' */
.icon-sliders:before { content: '\e814'; } /* '' */
.icon-twitter:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-github-circled:before { content: '\e817'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-user:before { content: '\e819'; } /* '' */
.icon-phone:before { content: '\e81a'; } /* '' */
.icon-quote:before { content: '\e81b'; } /* '' */
.icon-comment-empty:before { content: '\e81c'; } /* '' */
.icon-cancel:before { content: '\e81d'; } /* '' */
.icon-mail:before { content: '\e81e'; } /* '' */
.icon-camera:before { content: '\e81f'; } /* '' */
.icon-thumbs-up:before { content: '\e820'; } /* '' */
.icon-thumbs-down:before { content: '\e821'; } /* '' */
.icon-location:before { content: '\e822'; } /* '' */
.icon-key:before { content: '\e823'; } /* '' */
.icon-menu:before { content: '\e824'; } /* '' */
.icon-ellipsis:before { content: '\e825'; } /* '' */
.icon-ellipsis-vert:before { content: '\e826'; } /* '' */
.icon-paper-plane:before { content: '\e827'; } /* '' */
.icon-login:before { content: '\e828'; } /* '' */
.icon-logout:before { content: '\e829'; } /* '' */
.icon-credit-card:before { content: '\e82a'; } /* '' */
.icon-search:before { content: '\e82b'; } /* '' */
.icon-plus:before { content: '\e82c'; } /* '' */
.icon-code:before { content: '\e82d'; } /* '' */
.icon-bell-alt:before { content: '\e82e'; } /* '' */
.icon-clock:before { content: '\e82f'; } /* '' */
.icon-share:before { content: '\e830'; } /* '' */
.icon-floppy:before { content: '\e831'; } /* '' */
.icon-pencil:before { content: '\e832'; } /* '' */
.icon-retweet:before { content: '\e833'; } /* '' */
.icon-reply:before { content: '\e834'; } /* '' */
.icon-ampersand:before { content: '\e835'; } /* '' */
.icon-cog-alt:before { content: '\e836'; } /* '' */
.icon-left-open:before { content: '\e837'; } /* '' */
.icon-star:before { content: '\e838'; } /* '' */
.icon-heart-empty:before { content: '\e839'; } /* '' */
.icon-right-open:before { content: '\e83a'; } /* '' */
.icon-up-open:before { content: '\e83b'; } /* '' */
.icon-heart:before { content: '\e83c'; } /* '' */
.icon-info:before { content: '\e83d'; } /* '' */
.icon-link:before { content: '\e83e'; } /* '' */
.icon-tag:before { content: '\e83f'; } /* '' */
.icon-info-circled:before { content: '\e840'; } /* '' */
.icon-attention:before { content: '\e841'; } /* '' */
.icon-attach:before { content: '\e842'; } /* '' */
.icon-attention-alt:before { content: '\e843'; } /* '' */
.icon-print:before { content: '\e845'; } /* '' */
.icon-flag:before { content: '\e846'; } /* '' */
.icon-ok:before { content: '\e847'; } /* '' */
.icon-gplus:before { content: '\e848'; width:1.3em;} /* '' */
.icon-upload-cloud:before { content: '\e849'; } /* '' */
.icon-youtube:before { content: '\e84a'; } /* '' */
.icon-paypal:before { content: '\e84b'; } /* '' */
[title="Verified Account"]:before { content: '\e803'; } /* '' */

.icon-empty:before { content: ' ';}

.icon-twitter.icon-color:before {color:#55acee; }
.icon-facebook.icon-color:before,
.icon-thumbs-up.icon-color:before,
.icon-thumbs-down.icon-color:before {color:#3b5998; }
.icon-linkedin.icon-color:before {color:#0077b5; }
.icon-github-circled.icon-color:before {color:#666666; }
.icon-cancel.icon-color:before,
.icon-attention.icon-color:before,
.icon-attention-alt.icon-color:before{color:#EA3C37; }
.icon-info.icon-color:before,
.icon-info-circled.icon-color:before {color:#1DA8D3; }
.icon-star.icon-color:before,
.icon-star.icon-hover-color:hover:before {color:#ffac33; }
.icon-heart.icon-color:before {color:#FF9CED; }
.icon-ok.icon-color:before {color:#52B552; }
.icon-retweet.icon-color:before,
.icon-retweet.icon-hover-color:hover:before  {color:#5c913b; }
.icon-reply.icon-color:before,
.icon-reply.icon-hover-color:hover:before  {color:#0084B4; }

[title="Verified Account"]:before {color:#88c9f9; }


.icon-red:before { color: #EA3C37}
.icon-blue:before { color: #33C3F0}
.icon-green:before { color: #52B552}
.icon-white:before { color: #fff}

.icons a:hover{border-bottom:0;}

button [class*="icon-"]:before,
a.button [class*="icon-"]:before {
    font-size: 15px;
}

a.icon {
    color:inherit;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a.button {
 color: #555;   
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-transition: .3s all;
  transition: .3s all;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; 
}

.button.button-blue,
button.button-blue,
input[type="submit"].button-blue,
input[type="reset"].button-blue,
input[type="button"].button-blue {
  color: #FFF;
  background-color: #41B3D9;
  border-color: #41B3D9;
}
.button.button-blue:hover,
button.button-blue:hover,
input[type="submit"].button-blue:hover,
input[type="reset"].button-blue:hover,
input[type="button"].button-blue:hover,
.button.button-blue:focus,
button.button-blue:focus,
input[type="submit"].button-blue:focus,
input[type="reset"].button-blue:focus,
input[type="button"].button-blue:focus {
  color: #FFF;
  background-color: #49C8F2;
  border-color: #49C8F2;
}

.button.button-white,
button.button-white,
input[type="submit"].button-white,
input[type="reset"].button-white,
input[type="button"].button-white {
  color: #555;
  background-color: #eee;
  border-color: #eee;
}

.button.button-white-text,
button.button-white-text,
input[type="submit"].button-white-text,
input[type="reset"].button-white-text,
input[type="button"].button-white-text {
  color: #eee;
  border-color: #eee;
}

.button.button-white-text:hover,
button.button-white-text:hover,
input[type="submit"].button-white-text:hover,
input[type="reset"].button-white-text:hover,
input[type="button"].button-white-text:hover,
.button.button-white-text:focus,
button.button-white-text:focus,
input[type="submit"].button-white-text:focus,
input[type="reset"].button-white-text:focus,
input[type="button"].button-white-text:focus {
  color: #333;
  background-color: #eee;
  border-color: #eee;
}

.button.button-red,
button.button-red,
input[type="submit"].button-red,
input[type="reset"].button-red,
input[type="button"].button-red {
  color: #FFF;
  background-color: #D94141;
  border-color: #D94141;
}
.button.button-red:hover,
button.button-red:hover,
input[type="submit"].button-red:hover,
input[type="reset"].button-red:hover,
input[type="button"].button-red:hover,
.button.button-red:focus,
button.button-red:focus,
input[type="submit"].button-red:focus,
input[type="reset"].button-red:focus,
input[type="button"].button-red:focus {
  color: #FFF;
  background-color: #F24949;
  border-color: #F24949;
}


.button.button-green,
button.button-green,
input[type="submit"].button-green,
input[type="reset"].button-green,
input[type="button"].button-green {
  color: #FFF;
  background-color: #50B350;
  border-color: #50B350;
}
.button.button-green:hover,
button.button-green:hover,
input[type="submit"].button-green:hover,
input[type="reset"].button-green:hover,
input[type="button"].button-green:hover,
.button.button-green:focus,
button.button-green:focus,
input[type="submit"].button-green:focus,
input[type="reset"].button-green:focus,
input[type="button"].button-green:focus {
  color: #FFF;
  background-color: #5ccc5c;
  border-color: #5ccc5c;
}

.floating {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25), 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    border:0;
}

.floating:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.15);
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width:100%;
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; 
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; 
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; 
}
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; 
}
fieldset {
  padding: 0;
  border-width: 0; 
}
input[type="checkbox"],
input[type="radio"] {
  display: inline; 
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; 
}

/* tables */

table {
  max-width: 100%;
  background-color: transparent;
}
.table {
  width: 100%;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
  text-align:left;
}
.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table tbody > tr:hover {
    background:rgba(0, 255, 0, 0.05);
}
table.center-text th {
  text-align:center;
}

/* ============= */
/* custom styles */
/* ============= */

/* add your styles here, or in /css/styles2 */

/* ===== */
/* print */
/* ===== */

@media print{blockquote,img,pre,tr{page-break-inside:avoid}*,*:after,*:before{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href)")"}abbr[title]:after{content:" (" attr(title)")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}blockquote,pre{border:1px solid #999}thead{display:table-header-group}img{max-width:100%!important}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}
